.dashboard-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    /*background-color: #f9f9f9;*/
    min-height: 25vh;
}

.dashboard-container h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

.scorecard-list {
    width: 100%;
    max-width: 600px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    overflow-x: auto;
}

.scorecard-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

.scorecard-item:last-child {
    border-bottom: none;
}

.player-name {
    font-weight: bold;
    color: #444;
}

.player-score {
    color: #6dbf57;
    font-weight: 600;
}

/* Hover effect for scorecards */
.scorecard-item:hover {
    background-color: #f1f1f1;
}

.loading {
    color: #888;
    font-size: 1.2rem;
}

@media (max-width: 768px) {
    .scorecard-list {
        width: 90%;
        padding: 10px;
    }
}